<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Episode 3: Lists and Computed Properties</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen grid place-items-center">
    <div id="app">
      <section
      v-show="inProgressAssignments.length">
        <h2 class="font-bold mb-2">In progress</h2>
        <ul>
          <li 
            v-for="assignment in inProgressAssignments" 
            :key="assignment.id">
            <label>{{assignment.name}}</label>
            <input type="checkbox" v-model="assignment.completed" />
          </li>

          <li></li>
        </ul>
      </section>
      <section 
      v-show="completedAssignments.length"
      class="mt-12">
        <h2 class="font-bold mb-2">Completed</h2>
        <ul>
          <li 
          v-for="assignment in completedAssignments" 
          :key="assignment.id">
            <label>{{assignment.name}}</label>
            <input type="checkbox" v-model="assignment.completed" />
          </li>
        </ul>
      </section>
    </div>
    <script>
      let app = {
        data() {
          return {
            assignments: [
              { id: 1, name: "Finish project", completed: false },
              { id: 2, name: "Read chapter 4", completed: false },
              { id: 3, name: "Turn in homework", completed: false },
            ],
          }
        },
        computed: {
          completedAssignments() {
            return this.assignments.filter(a => a.completed)
          },
          inProgressAssignments() {
            return this.assignments.filter(a => !a.completed)
          },
        }
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
